<h1>Editing pet</h1>

<%= form_for(@pet) do |f| %>

  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pet.errors.count, "error") %> prohibited
        this pet from being saved:
      </h2>
      <ul>
        <% @pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :photo%>
    <%= f.file_field :photo %>

  <p>
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :vaccinated %><br>
    <%= f.select :vaccinated, options_for_select([["Si", "si"], ["No", "no"], ["Se desconoce", "se desconoce"]],selected: f.object.vaccinated) %>
  </p>

  <p>
    <%= f.label :sterilized %><br>
    <%= f.select :sterilized, options_for_select([["Si", "si"], ["No", "no"], ["Se desconoce", "se desconoce"]], selected: f.object.sterilized) %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.select :location, options_for_select([["Aguascalientes", "Aguascalientes"],
                                                ["Baja California", "Baja California"],
                                                ["Baja California Sur", "Baja California Sur"],
                                                ["Campeche", "Campeche"],["Coahuila","Coahuila"],
                                                ["Colima", "Colima"],["Chiapas", "Chiapas"],
                                                ["Chihuahua", "Chihuahua"],["Ciudad de México", "Ciudad de México"],
                                                ["Durango", "Durango"],["Guanajuato","Guanajuato"],
                                                ["Guerrero","Guerrero"],["Hidalgo","Hidalgo"],
                                                ["Jalisco","Jalisco"],["Estado de México", "Estado de México"],
                                                ["Michoacan", "Michoacan"],["Morelos","Morelos"],["Nayarit", "Nayarit"],
                                                ["Nuevo León","Nuevo León"],["Oaxaca","Oaxaca"],["Puebla","Puebla"],
                                                ["Querétaro","Querétaro"],["Quintana Roo","Quintana Roo"],
                                                ["San Luis Potosí","San Luis Potosí"],["Sinaloa","Sinaloa"],
                                                ["Sonora","Sonora"],["Tabasco","Tabasco"],["Tamaulipas","Tamaulipas"],
                                                ["Tlaxcala","Tlaxcala"],["Veracruz","Veracruz"],["Yucatán","Yucatán"],
                                                ["Zacatecas","Zacatecas"]], selected: f.object.location) %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', pets_path %>
