<br>
<% if current_user %>
    <%= link_to 'Subir animal',  new_pet_path%>
<% else %>

<% end %>


<header>
  <h1>
  Animales disponibles
</h1>
  Recuerda que para adoptar o subir algun animal para dar en adopcion, debes de iniciar sesión con alguna cuenta.
</header>

<% @pets.each do |pet|%>
	<h1><%= link_to pet.name, pet_path(pet)%></h1> <%= link_to image_tag(pet.photo.url(:small)), pet_path(pet)%>
		<div><%= pet.kind%></div>
    <div><%= pet.description%></div>
    <div><%= pet.location%></div>
<%end%>
<br>
<%= link_to 'Regresar al inicio', root_path %>
