<%= link_to 'Subir animal',  new_pet_path%>

<header>
  <h1>
  Animales disponibles
</h1>
</header>

<% @pets.each do |pet|%>
	<h1><%= link_to pet.name, pet_path(pet)%></h1>
		<div><%= pet.kind%></div>
    <div><%= pet.description%></div>
    <div><%= link_to 'Show', pet_path(pet) %></div>
    <div><%= link_to 'Edit', edit_pet_path(pet) %></div>
<%end%>
<%= link_to 'Regresar al inicio', root_path %>
