<br>
<%= image_tag @pet.photo.url(:small) %>

<p>
  <strong>Kind:</strong>
  <%= @pet.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>


<p>
  <strong>Vaccinated:</strong>
  <%= @pet.vaccinated %>
</p>

<p>
  <strong>Sterilized:</strong>
  <%= @pet.sterilized %>
</p>

<p>
  <strong>Location:</strong>
  <%= @pet.location %>
</p>

<%unless @pet.user.nil?%>
  <%if @pet.user.provider == 'twitter'%>
      Publicado por: <%= link_to '@'+@pet.user.nickname, 'https://twitter.com/' + @pet.user.nickname%> desde Twitter<br>
      Comunicate ahora con <%=@pet.user.nickname%> para adoptarlo (: <br>
  <% else %>
    Publicado por <%= "'" + @pet.user.email + "'"%> desde Facebook<br>
    Comunicate ahora con <%=@pet.user.name%> en Facebook para adoptarlo (:<br>
    (Recuerda que puedes buscar el email desde Facebook y te saldrá el perfil de esta persona)<br>
  <% end %>

  <br>

  <% if @pet.user == current_user %>
    <div><%= link_to 'Edit', edit_pet_path(@pet) %></div>
    <br>
    <div><%= button_to "Eliminar", @pet, {:onclick => "return confirm('Are you sure?')", :method => :delete}%></div>
    <br>
  <% end %>
<%end%>


<%= link_to 'Regresa a la lista', pets_path %>
