<!DOCTYPE html>
<html>
  <head>
  <style>
  .be-blue {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  body {
      background-color: #d0e4fe;
  }

  h1 {
     color: white;
     text-align: center;
  }

  p {
    font-family: "Times New Roman";
    font-size: 20px;
  }
  </style>
  </head>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="">
        <%= %>
        <%= link_to image_tag("logo.png"), root_path, class: 'navbar-brand' %>
        <%= link_to "Animales", pets_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar">
        <ul class="be-blue">
          <% if current_user%>
          <%= link_to 'Mi cuenta', sessions_path(@user), class: 'navbar-brand' %>
          <ul class="nav navbar-nav pull-right">
          <li>Sesion iniciada como: <%=image_tag current_user.profile_image, alt: current_user.name%> <%= current_user.name%></li>
          <li><%= link_to 'Cerrar sesión', logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Iniciar sesion con Twitter', '/auth/twitter' %></li>
            <li><%= link_to 'Iniciar sesion con Facebook', '/auth/facebook' %></li>
        </ul>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>

  <br>
  <%= form_tag(pets_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Pets" %>
      <%= submit_tag "Search"%>
  <%end%>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</html>
